{% extends "base.html"%}

{% load static %}

{% block contenido%}

<center>
    <div class="container" style="margin: 7%; width: 65%;">
        <div class="card">
            <div class="card-header" style="background-color: orange;">
                <h3 class="text-center"><b><i>Acerca de Nosotros</i></b></h3>
            </div>
            <div class="card-body">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-dark" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"  class="bg-dark"aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h3 style="font-family:cursive"><b>Misión</b></h3>
                            <div class="container text-center">
                                <p style="margin-left: 75px; margin-right: 75px; margin-bottom: 40px;">
                                    En Algorithm Avengers, nos esforzamos por ofrecer una experiencia de compra en línea excepcional, destacando la excelencia en la selección, 
                                    calidad y accesibilidad de nuestros productos tecnológicos. Nos comprometemos a brindar soluciones innovadoras que mejoren la vida diaria, 
                                    priorizando la satisfacción del cliente, la integridad y la constante exploración de nuevas fronteras tecnológicas. Nuestro propósito es 
                                    hacer que la última tecnología esté al alcance de todos, redefiniendo así los límites de la conveniencia y la excelencia en el mundo digital.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h3 style="font-family:cursive"><b>Visión</b></h3>
                            <div class="container text-center">
                                <p style="margin-left: 75px; margin-right: 75px; margin-bottom: 40px;">
                                    En Algorithm Avengers, visualizamos un mundo donde la innovación y la tecnología convergen para simplificar la vida cotidiana. 
                                    Nos comprometemos a ser pioneros en la entrega de soluciones digitales, brindando acceso sin complicaciones a productos de vanguardia. 
                                    Aspiramos a ser reconocidos como la principal fuente de herramientas tecnológicas, impulsando la evolución y la comodidad en la vida de nuestros clientes.
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item" style="margin-bottom: 40px;">
                            <img src="{% static 'img/bolsa.jpg' %}" class="d-block w-80" alt="...">
                        </div> 
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</center>



{% endblock %}
