{% extends "base.html"%}

{% load static %}

{% block contenido%}

<center>
    <div class="container" style="margin: 5%; width: 65%;">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center"><b><i>Acerca de Nosotros</i></b></h3>
            </div>
            <div class="card-body">
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <h3 style="font-family:cursive"><b>Misión</b></h3>
                            <div class="container text-center">
                                <p>El radón es un gas radiactivo que se encuentra de forma natural en el suelo, las
                                    rocas y el agua subterránea. Puede entrar en las casas
                                    a través de grietas en los cimientos, suelos y paredes.La exposición prolongada al
                                    radón puede aumentar el riesgo de desarrollar cáncer
                                    de pulmón. Es la segunda causa principal de cáncer de pulmón después del
                                    tabaquismo.La prueba de radón es la única forma de saber si tu
                                    hogar tiene niveles peligrosos de radón. Se recomienda realizar pruebas cada dos
                                    años.Los niveles de radón se miden en picocurios por tu
                                    litro de aire (pCi/L). Los niveles por debajo de 4 pCi/L se consideran aceptables,
                                    pero si los niveles están por encima de ese umbral,se
                                    deben tomar medidas.El radón puede ingresar a las casas a través de diferentes vías,
                                    como sótanos, espacios de rastreo, grietas en los
                                    cimientos y suelos.Algunas áreas geográficas tienen una mayor concentración de radón
                                    debido a la composición del suelo y las rocas
                                    subyacentes. Es importante conocer las zonas de radón en las que vives para tomar
                                    las precauciones adecuadas.Existen programas y recursos
                                    disponibles para ayudar a las personas a detectar y mitigar el radón en sus hogares.
                                    Estos programas varían según el estado y el país .
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h3 style="font-family:cursive"><b>Visión</b></h3>
                            <div class="container text-center">
                                <p>El radón es un gas radiactivo que se encuentra de forma natural en el suelo, las
                                    rocas y el agua subterránea. Puede entrar en las casas
                                    a través de grietas en los cimientos, suelos y paredes.La exposición prolongada al
                                    radón puede aumentar el riesgo de desarrollar cáncer
                                    de pulmón. Es la segunda causa principal de cáncer de pulmón después del
                                    tabaquismo.La prueba de radón es la única forma de saber si tu
                                    hogar tiene niveles peligrosos de radón. Se recomienda realizar pruebas cada dos
                                    años.Los niveles de radón se miden en picocurios por tu
                                    litro de aire (pCi/L). Los niveles por debajo de 4 pCi/L se consideran aceptables,
                                    pero si los niveles están por encima de ese umbral,se
                                    deben tomar medidas.El radón puede ingresar a las casas a través de diferentes vías,
                                    como sótanos, espacios de rastreo, grietas en los
                                    cimientos y suelos.Algunas áreas geográficas tienen una mayor concentración de radón
                                    debido a la composición del suelo y las rocas
                                    subyacentes. Es importante conocer las zonas de radón en las que vives para tomar
                                    las precauciones adecuadas.Existen programas y recursos
                                    disponibles para ayudar a las personas a detectar y mitigar el radón en sus hogares.
                                    Estos programas varían según el estado y el país .
                                    <br>
                                </p>
                            </div>
                        </div>                       
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</center>

{% endblock %}
