<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %} 
        <div class="mb-3">
            <label class="form-label">{{ campo.label }}</label>
            <input 
                type="{{ campo.field.widget.input_type }}" 
                class="form-control" 
                name="{{ campo.name }}"
                placeholder="{{ campo.label }}"
                value="{{ campo.value | default:'' }}"
                >

        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i></button>
</form>