{% extends "base.html"%} {enddextends}

{% block titulo %} <title>Prodcutos</title> {% endblock%}

{% block contenido%}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p class="text-center mt-4" style="font-family: Bungee Shade, cursive; font-size: 50px;">Listado de productos</p>
            <div class="d-flex justify-content-start mt-4">
                <a href="{% url 'crear_producto' %}" class="btn btn-outline-success">Nuevo Producto <i class="bi bi-plus-circle"></i></a>
            </div>
            <hr>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nombre Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Existencia</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %} 
                        <tr>
                            <td>{{ producto.Nombre }}</td>
                            <td>{{ producto.Descripcion }}</td>
                            <td>{{ producto.Existencias }}</td>
                            <td>${{ producto.Precio }}</td>
                            <td>
                                <a href="{% url 'editar_producto' producto.id %}"class="btn btn-info"><i class="bi bi-pencil-square"></i></a> |
                                
                                <a href="#" onclick="confirmarEliminar({{ producto.id }})" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </hr>
        </div>   
    </div>
</div>
{% endblock%}