h1{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}
.nav-item{
    font-family: cursive;
    font-size: 17px;
}
.navbar-brand{
    font-family: cursive;
    font-weight: bold;
}