{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'img/compras.png' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

  <title>TiendaOnline</title>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #17507D;">
      <div class=" container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/compras.png' %}" width="37px"
            height="37px" alt="..."> Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'productos' %}">Existencias <i
                  class="bi bi-collection-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'Acerca_De_Nosotros' %}">Acerca De <i
                  class="bi bi-info-circle-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'Contactanos' %}">Contactanos <i
                  class="bi bi-envelope-open-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" onclick="validar()">Mensajería <i
                  class="bi bi-chat-dots-fill"></i></a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <li class="nav-item" style="color: white;" class="btn" type="button" id="desplegar"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
              Algorithm Avengers <i class="bi bi-grip-vertical"></i>
            </li>
          </form>
        </div>
      </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header" style="background-color: orange; color: white;">
        <h5 id="offcanvasRightLabel" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
          Reseña Descriptiva Sobre...</h5>
        <img src="{% static 'img/compras.png' %}" width="40px" height="40px" alt="...">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p
          style="text-align:justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          <strong>Algorithm Avengers</strong> es una tienda en línea especializada en la venta
          de productos tecnológicos. Fue fundada con el propósito de ofrecer a los consumidores
          acceso fácil y conveniente a una amplia gama de productos de alta calidad en el campo
          de la tecnología.
        </p>
        <center>
          <img src="{% static 'img/productos.webp' %}" width="300px" height="200px" alt="..."
            style="border-radius: 20px;">
        </center>
        <br>
        <p
          style="text-align:justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          Una de las características principales de <strong>Algorithm Avengers</strong> es su enfoque
          en la innovación y las últimas tendencias tecnológicas. La tienda se enorgullece de ofrecer
          productos de vanguardia que incorporan los avances más recientes. Desde teléfonos inteligentes
          de última generación hasta dispositivos para el hogar inteligente, Algorithm Avengers tiene
          todo lo que necesitas para mantenerte actualizado en el mundo digital.
        </p>
        <center>
          <img src="{% static 'img/computer.jpg' %}" width="300px" height="200px" alt="..."
            style="border-radius: 20px;">
        </center>
        <br>
        <hr>
        <div class="container-fluid"
          style="text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:#17507D ;">
          <h5 style="text-align: center;"><strong>- Estudiantes -</strong></h5>
          <p>
            <i class="bi bi-person-workspace"></i><strong> Anderson Juvini Cisneros Quijada</strong><br>
            <i class="bi bi-person-workspace"></i><strong> Rafael Edmnudo Salguero Dubon</strong><br>
            <i class="bi bi-person-workspace"></i><strong> Carlos Manuel Salguero Dubon</strong><br>
            <i class="bi bi-person-workspace"></i><strong> Erick Francisco Diaz Serrano</strong><br>
            <i class="bi bi-person-workspace"></i><strong> Bryan Alexis Rauda Gomez</strong><br>
            <i class="bi bi-person-workspace"></i><strong> Juan Leónidas Villafranco Sibrian</strong><br>
          </p>
        </div>
      </div>
    </div>
  </header>
  <main>
  </main>
  <footer>
    {% block contenido %}
    {% endblock%}
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'js/alerts.js' %}"></script>


  {% if messages %}
  {% for m in messages %}
  <script>
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: '{{m}}',
      showConfirmButton: false,
      timer: 1700,
      iconColor: '#25C709',
      text: '¡EXITOSAMENTE!'
    })

  </script>
  {% endfor %}
  {% endif %}

</body>

</html>